.container {
    display: flex;
    height: 80vh;
}

.left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 300px;
    height: auto;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

h2 {
    margin-bottom: 0;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #c5dff8;
    color: #5C5C5C;
    font-size: 16px;
    cursor: pointer;
    margin:auto;
    width:50%;
}

button:disabled {
    background-color: #ccc;
}

h2 {
    color: #5C5C5C;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the spinner is above the form */
}

.error-message {
    position: absolute;
    bottom: -50px; 
    left: 0;
    right: 0;
    text-align: center;
    color: #d9534f; 
    background-color: #f8d7da; 
    border: 1px solid #d9534f; 
    padding: 10px;
    border-radius: 4px;
    visibility: hidden; 
}

.error-message.show {
    visibility: visible;
}