html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center;            /* Center items vertically */
    background: linear-gradient(90deg, #eef5fd, #c5dff8);
    color: #ffffff;
    padding: 20px 20px;
    position: relative;
    height: 80px;
}

header .title, header .actions {
    display: flex;
    align-items: center;
}

h2 {
    margin: 0; /* Remove default margin */
    color: #5C5C5C;
    font-size: 20px;
    color:#63707c;
}

.buttonLog {
    background-color: white;
    color: #333;
    border: 2px solid #63707c;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left:30px;
}

.buttonLog:hover {
    background-color: #9eb2c6;
    color: #000;
}

.register-overlay {
    position: fixed;
    top: 0;
    left: 0;
    padding-top:5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* This ensures the overlay itself can scroll if necessary */
  }
  
  .register-content {
    background-color: white;
    height:400px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    max-width: 50%;
    overflow: auto;   /* Allow scrolling within the popup content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
  }

  .iconLogo {
    width:80px;
    margin-right:10px;
    margin-left:30px;
  }

  h1{
    color:#5d84ab;
  }